<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File upload example</title>
    <link href="/stylesheets/style.css" rel="stylesheet" />
</head>

<body>
    <!-- by default it will send a get request -->
    <form ref='uploadForm' id='uploadForm' action='/uploads' method='post' encType="multipart/form-data">
        <fieldset>
            <legend>Multiple files upload example:</legend>
            <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file">MDN - HTML file input
                docs</a>

            <div>
                <span class="file-label">slot [file1] -- only images</span>
                <input type="file" name="file1" accept="image/png, image/jpeg" />
            </div>
            <div>
                <span class="file-label">slot [file2] -- select multiple files</span>
                <input type="file" name="file2" multiple />
            </div>
            <div>
                <span class="file-label">slot [file3]</span>
                <input type="file" name="file3" />
            </div>
            <div>
                <span class="file-label">slot [file4]</span>
                <input type="file" name="file4" />
            </div>

            <input type='submit' value='Upload!' />
        </fieldset>
    </form>
</body>

</html>